{% trans_default_domain 'FOSUserBundle' %}
<h2 class="text-center"> Registration Form </h2>
<div class="col-md-offset-4 col-md-4">
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div style="margin-top:20px">
        <input type="submit" class="btn btn-primary" value="{{ 'registration.submit'|trans }}" />
    </div>
    {{ form_end(form) }}
</div>